.courses {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.course-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.course-name {
    text-align: center;
}

button {
    background: repeating-radial-gradient(skyblue, lightcoral);

}

button a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:576px) {
    .courses {
        display: flex;
        flex-direction: column;
    }

    .course-container {
        display: flex;
        flex-direction: column;
    }

}