.courses {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.course-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media screen and (max-width:576px) {
    .courses {
        display: flex;
        flex-direction: column;
    }

    .course-container {
        display: flex;
        flex-direction: column;
    }

}